<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tech Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/dashboard">DASHBOARD</a>
            </li>
            <li>
                <a href="#">LOGOUT</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1> <a href="/dashboard" id="logout-link">Welcome to Your Dashboard</a></h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <a href="/dashboard/new-posrt">Create a New Post!</a>
    </footer>
    
</body>

<script src="/javascript/logout.js"></script>
</html>