<div>
    <div>
        <h2>EDIT POST</h2>
    </div>
    <form id="edit-post-form">
        <input type="hidden" name="post-id" value="{{post.id}}"/>

        <label for="post-title">TITLE</label>
        <input type="text" name="post-title" value="{{post.title}}"/>

        <label for="post-body">CONTENT</label>
        <textarea name="post-body">{{post.body}}</textarea>

        <button type="submit">UPDATE POST</button>

        <button type="button">DELETE POST</button>
    </form>
</div>

<script src="/javascript/edit"></script>