<div>
    <div>
        <h2>Write a New Post!</h2>
    </div>
    <form id="new-post-form">
        <label for="post-title">POST TITLE</label>
        <input type="text" name="post-title"/>

        <label for="post-body">BLOG ENTRY AREA</label>
        <textarea name="post-body"></textarea>

        <button type="submit">CREATE POST</button>
    </form>
</div>

<script src="/javascript/new.js"></script>