<div>
    <div>
        <h2>SIGN UP FOR AN ACCOUNT</h2>
    </div>
    <div>
        <form id="signup-form">
            <div>
                <label for="un-input-signup">USERNAME</label>
                <input type="text" name="un-input-signup"/>
            </div>
            <div>
                <label for="pw-input-signup">PASSWORD</label>
                <input type="password" name="pw-input-signup"/>
            </div>
            <button type="submit" id="signup-btn">CREATE YOUR ACCOUNT!</button>
            <a href="/login">Already have an account? Log in here.</a>
        </form>
    </div>
</div>

<script src="/javascript/signup.js"></script>